<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
      <div>
        <% @created_events.each do |e| %>
        <ul class="event-card">
          <li><%= e.name %></li>
          <li><%= e.location %></li>
          <li><%= e.date %></li>
        </ul>
        <% end %>
      </div>
    </section>
</div>
