<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @event.name %>
      </h1>
      <ul>
        <li>Location: <%= @event.location %></li>
        <li>Creator: <%= @event.creator.name %></li>
        <li>Date: <%= @event.date %></li>
      </ul>
    </section>
</div>
