@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$dark-gray: #233142;
$reddish: #E84A5F;
$bluish: #455D7A;
$blue: #0092CA;
$light-grey: #E3E3E3;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 65px;
  background-color: #191919;
  color: $light-grey;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

li {
  list-style: none
}

h1 {
  color: #FFF;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $bluish;
  text-transform: lowercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: $light-grey;
    text-decoration: none;
  }
}

.navbar-inverse {
  background-color: $dark-gray
}

.navbar-inverse .navbar-nav {
  li {
    a {
      color: $bluish;
    }
    a:hover {
      color: $light-grey;
    }
  }
  li:hover {
    background-color: $reddish;
  }
}

.dropdown-menu > li > a:hover {
  background-color: $reddish;
}

.dropdown-menu {
  background-color: $dark-gray;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* events */
.big-title {
  font-size: 5em;
}

.event-card {
  background-color: $dark-gray;
  border-radius: 5px;
  color: $light-grey;
  padding: 20px 10px 20px 10px;
  font-size: 1.8em;
  li {
    background-color: $dark-gray;
    padding-left: 1em;
    padding-right: 1em;
  }

}

.event-link {
  a {
    color: $light-grey;
    font-size: 1.3em;
    padding: 0px 2px 2px 2px;

  }
}

.btn-primary {
  text-decoration: none;
  color: #FFF;
  background-color: #2DAF94;
  border: none;
  &:hover {
    animation-name: button-shift-green;
    animation-duration: 1s;
    background-color: #4BE4C5;
  }
  &:focus {
    background-color: #4BE4C5;
    border: none;
  }
  &:active {
    background-color: #4BE4C5;
    border: none;
  }
}

.btn-big {
  margin-left: auto;
  margin-right: auto;
  display: block;
  line-height: 75px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 2.5em;
}

.btn-red {
  background-color: $reddish;
  border: none;
  &:hover {
    animation-name: button-shift-red;
    animation-duration: 1s;
    background-color: #da2c43;
    border-color: $reddish;
  }
  &:focus {
    background-color: #da2c43;
    border: none;
  }
  &:active {
    background-color: #da2c43;
    border: none;
  }
}

.attendee-list {
  background-color: $dark-gray;
  font-size: 1.5em;
  border-radius: 5px;
  padding: 20px 10px 20px 10px;
  li {
    a {
      color: $light-grey;
      text-decoration: none;
      &:hover {
        color: $blue;
      }
    }
  }
}

.comment-feed {
  background-color: $dark-gray;
  font-size: 1.5em;
  border-radius: 5px;
  padding: 20px 10px 20px 10px;
  li {
    margin-top: 15px;
  }
  span {
    color: $light-grey;
    line-height: 25px;
    a {
      color: $light-grey;
      text-decoration: none;
      &:hover {
        color: $blue;
      }
    }
    a.delete {
      &:hover {
        color: $reddish;
      }
    }

  }
  .timestamp {
    font-size: .8em;
    color: $bluish;
  }

}



/* media queries */

@media (max-width: 768px) {
  .nav > li {
    float: right;
  }
}


/* keyframes */

@keyframes button-shift-green {
    from {background-color: #2DAF94;}
    to {background-color: #4BE4C5;}
}

@keyframes button-shift-red {
    from {background-color: $reddish;}
    to {background-color: #da2c43;}
}
